/* ----- Reset ----- */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

/* ----- Banner ----- */
.banner-container {
    position: relative;
    bottom: -5.5em;
    height: 44.5em;
}
.banner {
    background-image: url('../images/northbeach.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
    top: -5.5em;
    height: 50em;
}

/* ----- Header ----- */
header {
    background: #333;
    color: #eee;
    padding: .75em 0;
    opacity: 0.9;
}

h1 {
    font-weight: normal;
    font-family: filosofiabold, garamond, georgia, serif;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: .15em;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-top: .2em;
}

header p {
    text-align: center;
    height: 0;
}

.header-decoration {
    letter-spacing: .02em;
    font-size: 1.25em;
    font-family: filosofiaitalic, garamond, georgia, serif;
    position: relative;
    top: -0.5em;
    background: #333;
    margin-right: auto;
    margin-left: auto;
    padding: 0 .75em;
}

@font-face {
    font-family: 'filosofiagrand';
    src: url('../type/filogran-webfont.eot');
    src: url('../type/filogran-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/filogran-webfont.woff') format('woff'),
         url('../type/filogran-webfont.ttf') format('truetype'),
         url('../type/filogran-webfont.svg#filosofiagrandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ----- Sections ----- */
section {
    background-image: url('../images/textures/ecailles.png');
    overflow: auto;
    padding-bottom: 4em;
}

.section-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4em;
    overflow: auto;
}

#cormorant, #mayor, #visitors, #businesses, #library {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 40em;
}

#cormorant {
    background-image: url('../images/cormorant.jpg');
    height: 50em;
}
#cormorant .section-container {
    margin-top: 15em;
}

#mayor {
    background-image: url('../images/mayorlee.jpg');
}

#visitors {
    background-image: url('../images/sutro.jpg');
}

#businesses {
    background-image: url('../images/goddesses.jpg');
}

#library {
    background-image: url('../images/library.jpg');
}


section p {
    margin: 2em;
    font-family: din, helvetica, sans-serif;
}

section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section a {
    color: #333;
}

.seal {
    padding-top: 6em;
}

h3 {
    font-weight: normal;
    font-size: 2em;
    font-family: filosofiagrand, garamond, georgia, serif;
    text-align: center;
    width: 70%;
    padding-bottom: .4em;
    border-bottom: 1px solid #333;
    margin-right: auto;
    margin-left: auto;
}

.col-1 {
    width: 80%;
    text-align: center;
    padding: 2em;
    margin-right: auto;
    margin-left: auto;
}

.col-2 {
    width: 35%;
    float: left;
    text-align: center;
    padding-top: 2em;
}
.shaded {
    background: rgba(255, 255, 255, .4);
}
.extra-shaded {
    background: rgba(255, 255, 255, .6);
}
.col-2:first-child {
    margin-left: 10%;
}
.col-2:last-child {
    float: right;
    margin-right: 10%;
}

.col-3 {
    width: 20%;
    margin: 6%;
    float: left;
}

.navigation {
    text-align: center;
    font-family: filosofiagrand, garamond, georgia, serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 1.25em;
    background: rgba(51, 51, 51, .6);
}

.navigation li {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: .5em 0;
    color: #eee;
}
.navigation li+li::before {
    content: '/';
}
.navigation a {
    margin: 1em;
    text-decoration: none;
    color: #eee;
}

small {
    font-style: normal;
    font-family: filosofiaitalic, garamond, georgia, serif;
    font-size: .5em;
    display: block;
}
em {
    font-style: normal;
    font-family: filosofiaitalic, garamond, georgia, serif;
}

#footer ul {
    padding-top: 1em;
}

#footer li {
    list-style: none;
}

#footer li span {
    cursor: pointer;
}

